/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

::-webkit-scrollbar {
  display: none !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.preview {
  width: 130px !important;
  height: 100% !important;
  object-fit: contain;
  padding: 0 !important;
}

/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 0 50px;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav a {
  text-decoration: none;
}

li:hover {
  color: #b1663c;
}

button {
  cursor: pointer;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

#portfolio h2 #global {
  display: flex;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

a {
  color: black;
}

#errorText {
  margin-top: 20px;
  color: red;
  display: none;
}

#filters {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  column-gap: 10px;
  margin-bottom: 50px;
}

#filters li {
  padding: 0 20px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1px solid #1d6154;
  border-radius: 100px;
  list-style: none;
  color: #1d6154;
}

#filters li:hover {
  cursor: pointer;
}

#filters li.active {
  color: white;
  background-color: #1d6154;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* ADMIN MODE */

#edit-banner {
  width: 100vw;
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
}

#edit-banner button {
  background-color: white;
  border-radius: 100px;
  padding: 10px 20px;
  color: black;
}

.admin.solo {
  display: flex;
  column-gap: 5px;
}

.admin.solo:hover {
  cursor: pointer;
}
.admin.solo i {
  color: black;
  font-size: 15px;
}

.admin.solo button {
  color: black;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 20px;
  font-size: 14px;
}

.admin.solo.img {
  width: 80%;
  margin: auto;
  margin-top: 16px;
}

.admin.solo.portfolio {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.admin.solo.portfolio button {
  margin: 0;
}

#modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

#modal #fond {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

#modal #box {
  width: 630px;
  height: 730px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 60px 35px 48px; */
}

#modal #box h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: black;
}

#modal #box .img-crossandarrow {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#modal #box .img-crossandarrow .cross {
  height: 15px;
  width: 15px;
  border: transparent;
  background-color: transparent;
}

#modal #box #gallery-modal {
  width: auto;
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(5, 80px);
}

hr {
  margin: 47px 0 38px;
  width: 480px;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
}

#box button {
  font-family: "Syne";
  width: 230px;
  padding: 0;
  font-size: 14px;
}

#box button#addphoto {
  width: 235px;
  height: 36px;
  border: none;
  border-radius: 36px;
  background-color: #1d6154;
  color: white;
  margin-bottom: 23px;
}

#box button#deletegallery {
  height: 18px;
  color: #d65353;
  background-color: transparent;
  border: none;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal .fond {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
.modal .box {
  width: 630px;
  height: 670px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 35px 0px;
}

.modal .box h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: black;
}

.modal .box .img-crossandarrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal .box .img-crossandarrow .arrow {
  height: 15px;
  width: 15px;
  border: transparent;
  background-color: transparent;
}

.modal .box .img-crossandarrow .cross {
  height: 15px;
  width: 15px;
  border: transparent;
  background-color: transparent;
}

.box form {
  width: 420px;
  height: 670px;
  padding-left: 105px;
  padding-right: 105px;
}

.box form #add-photos {
  padding-top: 28px;
  margin-top: 36px;
  margin-bottom: 30px;
  width: 100%;
  height: 169px;
  background: #e8f1f7;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box form #add-photos img {
  height: 58px;
  width: 58px;
  padding-bottom: 20px;
}

.label-file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 36px;
  border-radius: 50px;
  border: none;
  color: #306685;
  background: #cbd6dc;
}

.input-file {
  display: none;
}

.box form span {
  font-size: 10px;
  padding-top: 7px;
  color: #444444;
}
.box form input,
select {
  padding: 0;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.box form #input {
  width: 100%;
  height: 77px;
}

.box form #input input {
  width: 100%;
  height: 51px;
}

.box form #input h3 {
  margin-bottom: 10px;
}

.box form h3 {
  font-size: 14px;
  width: 32px;
}

.box form #select {
  width: 100%;
  height: 77px;
  margin-top: 20px;
}

.box form #select h3 {
  margin-bottom: 10px;
}

.box form #select select {
  width: 100%;
  height: 51px;
}

.box form #lebas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box form hr {
  width: 100%;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  margin-top: 47px;
  margin-bottom: 32px;
}

.box form button {
  width: 237px;
  height: 36px;
  color: #ffffff;
  background-color: #a7a7a7;
  border: none;
  border-radius: 60px;
}

.bin {
  height: 26px;
  width: 30px;
  background-image: url("./icons/Arrow_Back\(1\).svg");
  position: absolute;
}
